.texto-grande {
    font-size: 64px;
    line-height: 1.125;
    font-family: "Poppins";
    font-weight: 600;
}


.textto-medio {
    line-height: 1.5;
    color: #b2b2b2;
    font-family: "Roboto";
    font-weight: 400;
}